@font-face {
  font-family: 'MiFuente';
  src: url('fonts/mi-fuente.woff2') format('woff2');
}

body {
  font-family: 'MiFuente', sans-serif;
}

.columna-izquierda,
.columna-derecha {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Colores base */
.encabezado {
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 5px;
  text-align: right;
  font-size: 1em;
}

.contenedor {
  display: flex;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  height: 650px;
  max-width: calc(100% - 50px);
}

.columna-izquierda {
  flex: 1;
  border: 3px solid rgb(0, 0, 0);
  margin-right: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columna-derecha {
  margin: 0%;
  flex: 1;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: calc(100% - 50px);
}

.cuadro-rojo {
  background-color: #ffffff;
  border: 3px solid rgb(0, 0, 0);
  padding: 30px;
  text-align: center;
  width: 100%;
  max-width: 350px;
  padding-top: 7%;
  height: 80%;
  border-radius: 50px;
}

.cuadro-naranja {
  margin: 0;
  font-size: 1.3em;
  border: 3px solid rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  height: 90%;
}

.imagen {
  width: 250px; 
  height: auto;
  margin-bottom: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="email"],
input[type="password"] {
  padding: 8px;
  font-size: 1em;
}


button {
  padding: 10px;
  background-color: #ffffff;
  color: blue;
  border: 2px solid blue;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20px;
}


button:hover {
  background-color: blue;
  color: #ffffff;
}

.mostrar-contrasena {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9em;
}

.rendondeo-boton-inicio {
  border-radius: 20px;
}

.background {
  background-color: rgb(0, 0, 0);
}
.encabezado-letras {
  color: gray;
}

.color-letras-derecha {
  color: white;
}
