/*separados*/
.d-flex{
    display:flex;
}

.text-center {
  text-align: center;
}

.text-left {
    text-align: left;
}

.espacio-arriba {
    padding-top: 10px;
}
/**/

/*menu superior*/
.bloque-menu-sup {
    border: 1px solid purple;
    width: calc(80% - 50px);
    height: 30%;
    padding-right: 10px;
    margin: 0 auto;
    text-align: right;
}

.color-menu-sup {
    color:rgb(69, 69, 69);
    text-align: right 4px;
}
/* fin menu superior*/

/*bloque padre*/
.bloque-padre{
    border:1px solid green;
    width: calc(80% - 50px);
    height: 0 auto;
    margin: 0 auto;
}

/*bloque izquierda*/
.bloque-izquierda {
    border: 1px blue;
    width: fit-content;
    margin: 0 auto;
}

.cuadrado-login{
    width: auto;
}

.margen-izquierda {
    background-color: rgb(255, 255, 255);
    margin: 50px 50px 50px 50px;
    padding: 30px 25px 20px 15px;
    border: 1px solid black;
    height: 100px;
    width: 165px;
    outline: 1px solid red;
    border-radius: 10px;
}
/*bloque derecha*/
.bloque-derecha {
    border: 1px red;
    width:fit-content;
    margin: 0 auto;
}
